html{
    height: 100%;
}
.body{
    margin: 0px;
    height: 100%;
}

.top-title{
    background-color: #353d45;
    height: 200px;
}
.container_navbar{
    display: flex;
    padding: 10px;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.navar-title{
    font-size: 60px;
    margin-top: 50px;
    flex: 80%;
}
.navbar-brand-title{
    color: white;
    margin-left: 50px;
}
.collapse_navbar{
    flex: 10%;
    margin-top: 150px;
}
.collapse_navbar .navbar-nav_ml-auto a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.search_box{
    flex: 10%;
    margin-top: 150px;
}
.container{
    min-height: calc(100% - 300px); /*減去footer高度*/
    display: flex;
    justify-content: center;
}
.container .content_col{
    border: none;
    /* display: flex; */
    justify-content: center;
    margin-top: 100px;
    /* margin-left: 700px; */
    width: 1200px;
}
.container .content_col .post-list-pl-0{
    width: 1000px;
}
.title1{
    color: black;
    font-size: 25px;
}
.footer {
  height: 100px; /*設定footer本身高度*/
  background-color: #353d45;
}

.container-footer .align-item-center{
    display: flex;
    justify-content: center;
}
.container-footer .align-item-center .text-left{
    margin-top: 50px;
    color: white;
}
.container-footer .align-item-center .text-icons{
    margin-top: 30px;
    margin-left: 800px;
}

p img{
    width: 1200px;
}
