@media screen and (max-width: 400px){

    .top-title{
        width: 650px;
        height: 120px;
        background-color: #353d45;
        
    }
    .container_navbar{
        display: flex;
        padding: 10px;
        justify-content: center;
        height: 100px;
    }
    .navar-title{
        /* font-size: 30px; */
        margin-top:20px;
        flex: 65%;
    }
    
    .navbar-brand-title{
        font-size: 40px;
        color: white;
        margin-left: 20px;
    }
    .collapse_navbar{
        flex: 10%;
        margin-top: 90px;
    }
    .collapse_navbar .navbar-nav_ml-auto a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .search_box{
        display: none;
    }
    .container{
        min-height: calc(100% - 100px); /*減去footer高度*/
        display: flex;
        justify-content: center;
        width: 600px;
    }
    .container .content_col{
        justify-content: center;
        margin-top: 30px;
        width: 1200px;
    }
    .footer {
        height: 100px; /*設定footer本身高度*/
        background-color: #353d45;
        width: 650px;
        }

    .container-footer .align-item-center{
        display: flex;
        justify-content: center;
        
    }
    .container-footer .align-item-center .text-left{
        flex: 1;
        margin-top: 30px;
        color: black;
    }
    .container-footer .align-item-center .text-icons {
        /* flex: 1; */
        margin-top: 30px;
        margin-left: 50px;
    }
    .container-footer .align-item-center .text-icons img{
        width: 20px;
    }
}
